<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Create a new Post</h2>
  <div class="form-control" [ngClass]="{ invalid: form.get('title').invalid && form.get('title').touched}">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title">
    <div class="validation" *ngIf="form.get('title').invalid && form.get('title').touched">

      <small *ngIf="form.get('title').errors.required">
        Enter title
      </small>

    </div>
  </div>

  <div class="form-control" [ngClass]="{ invalid: form.get('author').invalid && form.get('author').touched}">
    <label for="author">Author:</label>
    <input type="text" id="author" formControlName="author">
    <div class="validation" *ngIf="form.get('author').invalid && form.get('author').touched">

      <small *ngIf="form.get('author').errors.required">
        Enter author
      </small>

    </div>
  </div>

  <div class="form-control">
    <label>Content post</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <button
  type="submit" class="btn btn-block btn-danger" [disabled]="form.invalid">Create post</button>
</form>
