<div *ngIf="posts.length; else loading">
    <div class="form-control">
      <input type="text" placeholder="search..." [(ngModel)]="searchStr">
    </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let post of posts | searchPosts:searchStr; let idx = index">
    <tr>
      <td>{{idx}}</td>
      <td>{{post.author}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date | date:'medium':null: 'ru'}}</td>
      <td>
        <button class="btn btn-link" [routerLink]="['/admin','post', post.id,'edit']" [ngStyle]="{marginRight: '10px'}" >
          Open
        </button>
        <a (click)="remove(post.id)">Delete</a>
      </td>
    </tr>

    </tbody>
  </table>
</div>
<ng-template #loading>
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</ng-template>
